@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
  margin: 0;
  background: #f5f5f5;
  color: #666;
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #fff;
  padding: 40px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

h1, h2, h3 {
  font-weight: 300;
  text-align: center;
}
h1 small, h2 small, h3 small {
  opacity: .6;
}

hr {
  margin: 30px 0;
  height: 0;
  border: none;
  border-top: 1px solid #ccc;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-info {
  background: #fff;
  padding: 30px 0 60px 0;
  margin-top: 40px;
  border-top: 1px solid #ccc;
}

.grid-example {
  background: tomato;
  color: white;
  height: 80px;
  line-height: 80px;
  margin-bottom: 24px;
  text-align: center;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row .row .grid-example {
  background: indianred;
}
.row .row .row .grid-example {
  background: salmon;
}
.row .row .row .row .grid-example {
  background: darksalmon;
}

a {
  color: dodgerblue;
}
a:hover {
  color: black;
}

.page-footer {
  background: #333;
  padding: 20px 0 30px 0;
}

.btn, .btn-ghost, .nav a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  background: dodgerblue;
  color: #fff !important;
  text-decoration: none;
  margin: 10px;
  margin-left: 0;
}
.btn:hover, .btn-ghost:hover, .nav a:hover {
  background: #0077ea;
}

.btn-ghost, .nav a {
  background: transparent;
  color: dodgerblue !important;
  border: 1px solid dodgerblue;
}
.btn-ghost:hover, .nav a:hover {
  background: dodgerblue;
  color: #fff !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-nav li {
  display: inline-block;
  margin-right: 30px;
}
.footer-nav a {
  color: #999;
}
.footer-nav a:hover {
  color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 40px 0;
  font-size: 14px;
}
table th,
table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left !important;
}
table th:empty,
table td:empty {
  border: none;
}
table thead tr:last-child th {
  border-bottom-width: 2px;
}
table tbody tr th:last-of-type {
  border-right-width: 2px;
}
table tbody tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}

@media (max-width: 900px) {
  .table-responsive {
    display: block;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 13px;
  }
  .table-responsive table {
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
    overflow: hidden;
    border: none;
  }
  .table-responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-responsive tr:nth-child(odd) {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .table-responsive td {
    padding: 0.25em 0.5em;
  }
  .table-responsive td:before {
    content: attr(data-label) ": ";
    display: inline-block;
    font-weight: 700;
    margin-right: 3px;
  }
  .table-responsive .small {
    font-size: inherit;
  }
}

.nav {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}
.nav > li {
  display: inline-block;
}

.text-highlight {
  color: firebrick;
}
